.start{
  padding-left: 30px;
  padding-right: 30px;
  width: auto;
  height: auto;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(149, 7, 168, 0.637) 0px 2px 16px 0px;
  border: none;
  border-radius: 20px;
}

