.line{
    background: white;
}

.buttonGame{
    background-color: grey;
    color: white;
    margin: 10px;
    border: none;
    padding: 5px;
    font-size: 31px;
    height: 30px;
    width: 30px;
    box-shadow: 0 2px 4px darkgray;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 70%;
}

.buttonGame:active{
    background-color: grey;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
}